/*Thanh menu*/
.menu{
	width: 1349px;
	height: 56px;
	background-color: #0091ce;
}
.menu_con{
	width: 1140px;
	height: 56px;
	margin: auto;
}
.menu_con .menu_con_l{
	width: 15%;
	height: 56px;
	float: left;
}

.menu_con .menu_con_r{
	width: 85%;
	height: 56px;
	float: right;
}
.menu_con .menu_con_r ul{
	list-style-type: none;
	margin: 0px;
}
.menu_con .menu_con_r ul li{
	float: right;
	height: 56px;
	line-height: 56px;
	position: relative;
}
.menu_con .menu_con_r ul li a{
	color: white;
	display: block;
	padding: 0px 15px;
}
.menu_con .menu_con_r ul li a:hover{
	background-color: #0080b7;
}